{% extends "base/base.html" %}
{% load static %}

{% block content %}
	<div class="container p-4">
		<div class="container d-flex">
			<a class="btn btn-success text-uppercase font-weight-bold ml-auto" href="{% url 'producto:new_producto' %}">
				<span class="fas fa-plus"></span>
				Nuevo Producto
			</a>
		</div>
		<div class="card mt-4">
			<div class="card-header">
				<h5 class="text-uppercase font-weight-bold">
					Productos
				</h5>
			</div>
			<div class="card-body">
				<div class="table mt-4">
					<table class="table table-striped">
						<thead class="thead-light">
							<tr>
								<th scope="col">Nombre</th>
								<th scope="col">Imagen</th>
								<th scope="col">Descripcion</th>
								<th scope="col">Precio</th>
								<th class="text-center" scope="col">Accion</th>
							</tr>
						</thead>
							<tbody>
								{% for p in object_list  %}
										<tr>
											<td>{{p.nombre}}</td>
											<td>
												{% if p.img %}
													<img class="img_list" src="{{p.img.url}}" alt="">
												{% else %}
													<img class="img_list" src="{% static "base/img/nofound.png" %}" width="100" alt="">
												{% endif %}
											</td>
											<td width="400">{{p.descripcion}}</td>
											<td>Q. {{p.precio}}</td>
											<td class="text-center" width="150">
												<a href="{% url 'producto:update_producto' p.pk %}" class="btn btn-warning btn-sm">Editar</a>
												{% if request.user.groups.all.0.name == 'administrador' %}
												<a href="{% url 'producto:delete_producto' p.pk %}" class="btn btn-danger btn-sm text-white">Eliminar</a>
												{% endif %}
											</td>
										</tr>
								{% endfor %}
							</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

